<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baigu.ui.sample.ptr">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PtrDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CubeTheme.NoWindowAniAndNoTitle">
        <activity
            android:name=".ListSamples"
            android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".refresh.ui.activity.PtrDemoHomeActivity"
            android:label="Ultra Pull To Refresh"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.baigu.ui.sample.ptr.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".refresh.ui.viewpager.ViewPagerActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />


        <activity
            android:name=".loadmore.base.DemoHomeActivity"
            android:label="Ultra Pull To Loadmore">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.baigu.ui.sample.ptr.SAMPLE" />
            </intent-filter>
        </activity>
        <activity android:name=".loadmore.ui.activity.PagerTabIndicatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".loadmore.ui.imageloader.activity.LoadBigImageInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".loadmore.ui.imageloader.activity.LoadMidImageInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".loadmore.ui.imageloader.activity.LoadSmallImageInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>


</manifest>
